
.container{
  margin-top: 50px;
  grid-template-columns: 30px repeat(7,1fr);
  grid-template-rows: 80px auto 150px;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "main main main main ph ph sd sd"
  "ft ft ft ft ft ft ft ft";
}